div.top {
	background-color: green;
	height: 600px;
	font-size: 60px;
	margin-right: 0px;
	margin-left:0px;
	border-width: 2px;
	border-style: solid;
}

div.header {
	background-color: darkgreen;
	height 75px;
	font-size: 30px;
	margin-right: 0px;
	margin-left: 0px;
	border-width: 2px;
	border-style:solid;
}

body
{
	background-color: green;


}
.hero_col_left{
	float:left;
	border-width: 2px;
	border-style: solid;
    width: 277px;
    padding: 0px 7px 0px 23px;
    text-align: center;
    height: 277px;
}

.hero_col_right{
	float:left;
	border-width: 2px;
	border-style: solid;
    width: 277px;
    padding: 0px 7px 0px 23px;
    text-align: center;
    height: 277px;
}

.hero_col_mid{
	float:left;
	border-width: 2px;
	border-style: solid;
    width: 277px;
    padding: 0px 7px 0px 23px;
    text-align: center;
    height: 277px;