div.upper {
	background-color: green;
	height: 600px;
	font-size: 60px;
	margin-right: 0px;
	margin-left:0px;
	border-width: 2px;
	border-style: solid;
}

div.header {
	background-color: darkgreen;
	height 75px;
	font-size: 30px;
	margin-right: 0px;
	margin-left: 0px;
	border-width: 2px;
	border-style:solid;
}

body
{
	background-color: gray;


}
.hero_col_left{
	float:left;
	border-width: 2px;

    width: 350px;
    padding: 7px 7px 7px 7px;
    text-align: center;
    height: 250px;
}

.hero_col_right{
	float:left;
	border-width: 2px;

    width: 350px;
    padding: 7px 7px 7px 7px;
    text-align: center;
    height: 250px;
}

.hero_col_mid{
	float:left;
	border-width: 2px;

    width: 350px;
    padding: 7px 7px 7px 7px;
    text-align: center;
    height: 250px;
}

        .hex {
           float: left;
           margin-left: 2px;
           margin-bottom: -26px;
        }
        .hex .top {
            width: 0;
            border-bottom: 20px solid #6C6;
            border-left: 28px solid transparent;
            border-right: 28px solid transparent;
        }
        .hex .middle {
            width: 56px;
            height: 35px;
            background: #6C6;
        }
        .hex .bottom {
            width: 0;
            border-top: 20px solid #6C6;
            border-left: 28px solid transparent;
            border-right: 28px solid transparent;
        }
        .hex-row {
            clear: left;

        }
        .hex-row.doi {
        	margin-top: 56px;
            margin-left: 29px;
            margin-bottom: px;
        }
        .hex-row.trei {
        	margin-top: 112px;
        }
        .hex-row.patru{
        	margin-top: 168px;
        	margin-left: 29px;
        }
